body {
    background-color: black;
    color: white;
    font-family: Courier New;
}

a {
    color: #0099FF;
}

div.chat-window {
    position: absolute;
    width: 95%;
    height: 85%;
}


iframe.chat-frame{
    border: 0px;
    overflow:scroll;
    width: 95%;
    height: 80%;
    margin-top: 30px;
}

div.private-message {
    color: #99CC33;
}

form.message-form {
    top: 100px;
}

div.footer {
    position: fixed;
    bottom:10px;
}