body {
    background-color: black;
    color: white;
    font-family: Courier New;
}

a {
    color: #0099FF;
}

div.chat-window {
    position: absolute;
    width: 95%;
    height: 85%;
}


iframe.chat-frame{
    border: 0px;
    overflow:scroll;
    width: 95%;
    height: 80%;
    margin-top: 30px;
}

div.private {
    color: #99CC33;
}

span.user {
    float: left; 
    width: 120px;
}

div.message {
     margin-left:150px; 
     margin-top:5px;
}

form.message-form {
    top: 100px;
}

div.footer {
    position: fixed;
    bottom:10px;
}