<!DOCTYPE html>
<html lang="de">
	<head>
		<meta charset="utf-8">
		<title>Alfachat</title>
		<script type="text/javascript">
			history.replaceState(null, document.title, location.href);
		</script>
        <link rel="stylesheet" href="style.css">
	</head>
    <body>
		<div class="chat-window">
			<h1 class="headline">Willkommen im Alfachat, {{user.username}}!</h1>
			<iframe class="chat-frame" src="messages/{{user.uuid}}#bottom" charset="utf-8"></iframe>
			<div>
				<form class="message-form" method="post" autocomplete="off">
					<span>Message: &nbsp;</span><input type="text" name="message" style="width:75%" autofocus />
					<input type="submit" value="go!" />
				</form>
			</div>
			<div class="footer">
				<a href="/archiv/{{user.uuid}}" target="_blank">Archiv</a>
			</div>
		</div>
	</body>
</html>
