{% extends "layout.html" %}

{% block header %}
	<title>Alfachat</title>

	<script type="text/javascript">
		history.replaceState(null, document.title, location.href);
	</script>
{% endblock %}

{% block body %}
	<div class="chat-window">
		<h1 class="headline">Alfachat v2</h1>
		<div><span class="underline">Angemeldet als:</span> &nbsp;&nbsp;<span style="color: {{user.color}};">[{{ user.username }}]</span></div>
		<div><span class="underline">Gast der Woche:</span> &nbsp;&nbsp;<span style="color: orange;">{{ guest }}</span></div>
		
		{% include 'chatlog.html' %}
		
		<div class="message-form-container">
			<form class="message-form" method="post" autocomplete="off">
				<div style="width: 150px;display:inline-block;"></div><input type="text" id="input_message" name="message" class="message-field" placeholder="Deine Nachricht..." autofocus />
				<input type="submit" value="Senden" />
			</form>
		</div>
		<div class="footer">
			<a href="/archiv/{{user.user_id}}" target="_blank">Archiv</a>
		</div>
	</div>

	<script type="text/javascript">
		var usernames = [
			{% for user in users %}
				"@{{user.username}}",
			{% endfor %}
		];

		var message_input = document.getElementById("input_message");
		message_input.addEventListener("keyup", function() {
			token = message_input.value.split(" ")[0];
			if(usernames.indexOf(token) != -1) {
				message_input.classList.add("private");
			}
			else {
				message_input.classList.remove("private");
			}
		});
	</script>
{% endblock %}
