<!DOCTYPE html>
<html lang="de">
<head>
	<meta http-equiv="refresh" content="10; url=#scrolldown" >
	<meta charset="utf-8">
    <link rel="stylesheet" href="/style.css">
</head>
<body onload="javascript:window.scrollTo(0,document.body.scrollHeight)" style="font-family: Courier New">
    
			{% for message in messages %}
			{% if (not message.visible_to) or (user in message.visible_to) %}
			<div>
                <span style="float: left; color:{{message.user.color}}; width: 120px; ">[{{message.user.username}}]</span>
                    
                <div style="margin-left:150px; margin-top:5px;">
                    {{message.text | safe}}
                </div>
            </div>
			{% endif %}
			{% endfor %}
	<a name="scrolldown" />
</body>
