<!DOCTYPE html>
<html lang="de">
<head>
	<meta http-equiv="refresh" content="10; url=#scrolldown" >
	<meta charset="utf-8">
    <link rel="stylesheet" href="/style.css">
</head>
<body onload="javascript:window.scrollTo(0,document.body.scrollHeight)" style="font-family: Courier New">
	<table>
		<tbody>
			{% for message in messages %}
			{% if (not message.visible_to) or (user.username in message.visible_to) %}		
				<tr><td style="vertical-align: top; color:{{message.color}}; width: 120px;">[{{message.user}}]</td><td>{{message.message | safe}}</td></tr>
			{% endif %}
			{% endfor %}
		</tbody>
	</table>
	<a name="scrolldown" />
</body>
